/* .title {
    color: red;
} */

/*estilos del canvas*/
html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

/*no se puede hacer scroll*/
canvas{
    touch-action:none ;
}